include *.md
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.py *.png *.jpg *.js
recursive-include tests *.py
